<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/home.css"/>
    <meta charset="UTF-8"/>
    <title>Pandora's gate</title>
    <script src="/js/list.js"></script>
</head>
<body class="body-black">
<div class="sign-background">
    <div class="sign-input-block">
        <div class="sign-input-text-back">
            <input type="text" class="sign-input-text" name="account"
                   value="RabbitQ"></input>
        </div>
        <div class="sign-button-div"><input type="button" name="submit_button" value="Sign Up!" class="sign-button"
                                            onmouseover="this.className='sign-button-highlight'"
                                            onmouseout="this.className='sign-button'"
                                            onclick="alert1()"
                                            ></input></div>
    </div>

</div>
</body>
</html>