<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/sign-psy.css"/>
    <meta charset="UTF-8"/>
    <title>Pandora's gate</title>
    <script src="/js/list.js"></script>
</head>
<body class="body-black">
<div id="wrap" class="wrap">
    <div class="login-plank">
        <div class="login-plank-head">
            Login!
            <div class="login-plank-head-close-div" id="head-close">
                <input
                        type="button"
                        name="close-button"
                        value=""
                        class="login-plank-head-close"
                >
                </input>
            </div>
        </div>
        <div class="login-input-light-div" style="top: 47px;">
            <div class="sign-input-icon"></div>
            <div class="sign-input-div">
                <input name="account" type="text" class="sign-input-text" value="RabbitQ"></input>
            </div>
        </div>
        <div class="login-input-light-div" style="top: 67px;">
            <div class="sign-input-password-icon"></div>
            <div class="sign-input-div" style="left: 33px;">
                <input name="password" type="password" class="sign-input-text" value="1234567890"></input>
            </div>
        </div>
        <a href="" style="position:relative; color: #fcfcfc; top:100px; left: 73px;">Forget Account Or Password?</a>
        <div name="log_button" class="login-button-div" style="top:130px;">
            <input type="submit" name="submit_button" class="sign-button"
                   style="width:100%; position: relative; top:13px;" value="Login!"></input>
        </div>
    </div>
</div>
</body>
</html>